<p id="notice"><%= notice %></p>

<p>
  <strong>Amount:</strong>
  <%= @exchange.amount %>
</p>

<p>
  <strong>Collector:</strong>
  <%= @exchange.collector %>
</p>

<p>
  <strong>Phone Number:</strong>
  <%= phone_numberize(@exchange.phone_number) %>
</p>

<%= link_to 'Edit', edit_exchange_path(@exchange) %> |
<%= link_to 'Back', exchanges_path %>
